*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.582);
}


header {
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.555);
    backdrop-filter: blur(10px);
}

nav{
    padding: 1rem;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li.logo {
  font-size: 1.4rem;
  order: 1;
}
nav ul li a {
    display: block;
    padding: 0.4rem;
    color: antiquewhite;
    text-decoration: none;
  }
nav ul li a:hover {
    background-color: #33333363;
    color: white;
    border-radius: 5px;
    box-shadow: #ccc 0px 0px 5px;
    transition: all 0.3s ease;
  }


  .btn {
    background-color: #1DB954;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  #genreFilter {
    background-color: #333333;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  #playlistName {
    font-size: 1rem;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
  }

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: bisque;
}

.playlist {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .playlist li {
    list-style:none;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #333333;
    border-radius: 5px;
    color: antiquewhite;
  }

  .playlist li:hover {
    background-color: #444444;
    transform: translateY(-5px);
     transition: all 0.3s ease;
  }

  .playlist button {
    background-color: tomato;
    color: white;
    padding: 5px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .playlist ul{
    padding: 0;
    margin: 0;
    gap: 30px;
  }

  .flex-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-container h3 {
    margin: 0;
    color:rgb(43, 226, 125)
  }

  h1 {
    font-size: 2rem;
  }



  
